*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 16px;
}


.tranx-1 {
    width: auto;
    height: auto;
    background-color: rgb(8, 8, 8);
    color: white;
    text-align: center;
}
 .menu-1{
    display: flex;
    text-decoration: none;
    background-color: red;
    text-align: right;
 }



.imagen-1{

}

